# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor

# Go workspace file
go.work

app.env
debug.env

postgres_data*

rabbitmq_data

media

tests/files

tests/media-test

vms*

.vscode
vms.code-workspace

__debug_bin*

tests

cspell.json

zip_test

upload_test

libgrafana

server.env

sync
.idea
input
output
data.json
zips
.idea
rabbitmq_data
trace_data

ffmpeg
ffmpegd
ffprobe
examples
mkvextract
*.env
!env-example/*.env
bin/live-stream
bin
public*

.air.toml

tmp

*.log

secret*

streamId

input-live

playlist_cursor
pgcat.toml
00_init.sql
aioz-live.yml
aioz-live2.yml
!env-example/*.yml
!env-example/*.toml
!env-example/*.sql

